build:
  maxIssues: 0
  excludeCorrectable: false
  weights:
    complexity: 2
    LongParameterList: 1
    style: 1

config:
  validation: true

processors:
  active: true
  exclude:
    - 'DetektProgressListener'

console-reports:
  active: true
  exclude:
    - 'ProjectStatisticsReport'
    - 'ComplexityReport'
    - 'NotificationReport'
    - 'FileBasedFindingsReport'

output-reports:
  active: true
  exclude:
    - 'TxtOutputReport'

comments:
  active: true
  AbsentOrWrongFileLicense:
    active: false
  CommentOverPrivateFunction:
    active: false
  CommentOverPrivateProperty:
    active: false

complexity:
  active: true
  LongMethod:
    active: true
    threshold: 60
  LongParameterList:
    active: true
    functionThreshold: 8
    constructorThreshold: 10
  NestedBlockDepth:
    active: true
    threshold: 4
  TooManyFunctions:
    active: true
    thresholdInFiles: 15
    thresholdInClasses: 15
    thresholdInInterfaces: 10
    thresholdInObjects: 10
    thresholdInEnums: 10
  CyclomaticComplexMethod:
    active: true
    threshold: 15

coroutines:
  active: true

exceptions:
  active: true
  TooGenericExceptionCaught:
    active: true
  TooGenericExceptionThrown:
    active: true
  InstanceOfCheckForException:
    active: true

naming:
  active: true
  FunctionNaming:
    active: true
  ClassNaming:
    active: true
  VariableNaming:
    active: true
  PackageNaming:
    active: true
  ObjectPropertyNaming:
    active: true

performance:
  active: true
  SpreadOperator:
    active: true

potential-bugs:
  active: true
  EqualsAlwaysReturnsTrueOrFalse:
    active: true
  InvalidRange:
    active: true
  IteratorNotThrowingNoSuchElementException:
    active: true
  UnsafeCallOnNullableType:
    active: true
  UnsafeCast:
    active: true

style:
  active: true
  MagicNumber:
    active: false
  NewLineAtEndOfFile:
    active: true
  OptionalUnit:
    active: false
  RedundantVisibilityModifierRule:
    active: true
  ReturnCount:
    active: true
    max: 3
  ThrowsCount:
    active: true
    max: 2
  WildcardImport:
    active: true
  UnusedPrivateMember:
    active: true
